:root {
    --white: white;
  }

.timer {
    font-size: 14rem;
    display: flex;
    flex-direction: row;
    color: var(--white);
    justify-content: center ;
    margin-bottom: 1%;
}

.main {
    color: var(--white);
    width: 115%;
}

.buttons {
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}

button {
  min-width: 50px;
}

.done {
  transform: translateY(-50%);
}

.buttonBotton {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0;
  left: 1.5%;
  width: 97.5%;
}

.buttonBotton button{
  margin: 0;
}

.buttonBotton div button{
  margin: 0;
}

.buttonBotton  *{
  width: 100%;
}

.fixxingTimerUp {
  transform: translateY('-50%');
}

.fixxingHorizontalSize {
  transform: translateX('25%');
}

@media (max-width: 900px) {
    .timer {
      font-size: 7rem; /* Ajustar el tamaño de fuente para pantallas pequeñas */
    }
  }

@media (max-width: 992px) {
    .main {
     padding-left: 5%;
}
  }

@media (max-width: 525px) {
      .main {
    color: var(--white);
    width: 115%;
    }
  }