:root {
    --footerBack: lightgreen;
}

.footerBack {

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--footerBack);
    margin: 0;
}

.footerBack p {

    margin-top: 0;
    padding: 0;

}